// ===================================================================================================
// Utilities
// ===================================================================================================

// Import if Google Fonts URL is defined

@if variable-exists(font-url-google) {
	@import url($font-url--google);
}

// Calculate em values

@function em($target, $context: $base__font-size) {
	@return ($target / $context) * 1em;
}

// Call the color pallette modifiers

@function palette($palette, $shade: 'base') {
	@return map-get(map-get($palettes, $palette), $shade);
}

// Mixins

@mixin bg-colors() {
	@each $theme, $color in $ui-colors {
		.btn--#{$theme} {
			background-color: $color;
		}
	}
}

@mixin img-replace($img, $w, $h, $disp: block) {
	background-image : url('#{$path--rel}/#{$img}');
	background-repeat: no-repeat;
	display          : $disp;
	width            : $w;
	height           : $h;
}